{%extends 'base.html'%}
{%block title%}Catalog{%endblock%}
{%block content%}
<h1>Реестр книг</h1>
<table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.year}}</td>
      <td>{{book.sum}}</td>
      {% if current_user.login %}
      <td><a href="/registration"><div class="badge badge-warning text-wrap" style="width: 6rem;">Выдать книгу</div></a></td>
      {%endif%}
    </tr>
    {%endfor%}
  </tbody>
</table>


{%endblock%}