{%extends 'base.html'%}
{%block title%}Journal{%endblock%}
{%block content%}
{%if current_user.login%}
<h1>Журнал выдачи</h1>
<table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">User</th>
      <th scope="col">Book</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in jour %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{jour.user}}</td>
      <td>{{jour.book}}</td>
      <td>{{jour.tatus}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%else%}
<h1>Журнал выдачи доступен только авторизованным пользователям</h1>
{%endif%}

{%endblock%}